CompileFlags:
    Add: [-xc++, -Wall, -Wextra, -Wconversion, -Wdouble-promotion, --include-dir=include/, -march=native, -std=c++2b]
    Compiler: gcc

InlayHints:
    Designators: Yes
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
